@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inter&family=Nunito&family=Rubik&display=swap');

:root {
  --background: #fff4ed;
  --textColour: #330024;
  --textAlternate: #0F154D;
  --navbarBackground: #7884F0;
}
body {
  margin: 0;
  font-family:  'Dosis', 'Inter', 'Nunito', 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
